body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.navbar-default {
  background-color: gray;
  border-color: transparent;
  position: fixed;
  z-index: 1;
  padding: 10px;
  width: 100%;
  transition: 5s ease-in; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }
  .navbar-default .navbar-collapse a, .navbar-default .navbar-form a {
    font-size: 1.7rem;
    color: #fff;
    padding: 10px; }

.header-movie-wrapper {
  overflow: hidden;
  display: flex;
  margin: auto; }
  .header-movie-wrapper .header-movie {
    width: 100%;
    height: 100vh; }
  .header-movie-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-movie-wrapper .overlay .header-title {
      color: white; }

.jumbotron {
  text-align: center;
  background-color: rgba(238, 238, 238, 0.5); }

.services-header {
  text-align: center;
  font-size: 5rem;
  margin: 20px; }

.modal-dialog {
  width: 60%; }
  .modal-dialog .modal-header {
    text-align: center; }
    .modal-dialog .modal-header h3 {
      font-weight: bold;
      font-size: 4rem; }
  .modal-dialog img {
    width: 100%; }

.services-container .services-columns {
  margin-bottom: 30px; }

.services-container .services-pic {
  width: 550px;
  height: auto; }

.services-container .services-photo > div:last-child {
  margin-left: 25%; }

@media (min-width: 768px) {
  .services-movie > div:last-child {
    margin-left: 25%; } }

@media (max-width: 767px) {
  .services-movie {
    display: inline-block;
    margin-left: 25%; } }

@media (min-width: 992px) {
  iframe {
    max-width: 100%;
    max-height: 100%; } }

@media (max-width: 991px) {
  iframe {
    max-width: 100%;
    max-height: 300px; } }

.jumbotron {
  text-align: center;
  background-color: rgba(238, 238, 238, 0.5); }

.services-header {
  text-align: center;
  font-size: 5rem;
  margin: 20px; }

.modal-dialog {
  width: 60%; }
  .modal-dialog .modal-header {
    text-align: center; }
    .modal-dialog .modal-header h3 {
      font-weight: bold;
      font-size: 4rem; }
  .modal-dialog img {
    width: 100%; }

.services-container .services-columns {
  margin-bottom: 30px; }

.services-container .services-pic {
  width: 550px;
  height: auto; }

.services-container .services-photo > div:last-child {
  margin-left: 25%; }

@media (min-width: 768px) {
  .services-movie > div:last-child {
    margin-left: 25%; } }

@media (max-width: 767px) {
  .services-movie {
    display: inline-block;
    margin-left: 25%; } }

@media (min-width: 992px) {
  iframe {
    max-width: 100%;
    max-height: 100%; } }

@media (max-width: 991px) {
  iframe {
    max-width: 100%;
    max-height: 300px; } }

.parallax {
  height: 500px;
  display: flex;
  justify-content: center; }
  .parallax h2 {
    height: 50%;
    display: flex;
    align-items: flex-end;
    color: white; }
  .parallax .parallax-wrapper {
    text-align: center; }
    .parallax .parallax-wrapper button {
      background-color: transparent;
      border-color: transparent; }
      .parallax .parallax-wrapper button a {
        text-decoration: none;
        font-size: 3rem;
        border: 2px solid white;
        border-radius: 10px;
        transformation: scale(1);
        transition: 1s; }
        .parallax .parallax-wrapper button a:hover {
          transform: scale(1.5);
          color: black;
          font-weight: bolder;
          font-size: 4rem;
          border-radius: 10px; }

.footer-container {
  background-color: rgba(233, 233, 233, 0.5);
  padding: 30px 30px 10px 30px; }
  .footer-container .footer {
    padding-bottom: 10px; }
    .footer-container .footer .footer-wrapper {
      width: 40%; }
      .footer-container .footer .footer-wrapper .footer-image {
        float: left;
        margin-right: 10px; }
      .footer-container .footer .footer-wrapper .footer-aboutMe {
        text-align: justify; }
    .footer-container .footer .footer-social-media {
      width: 50%;
      float: right; }
      .footer-container .footer .footer-social-media a:hover {
        font-size: 120%;
        transition: 1s ease; }
      .footer-container .footer .footer-social-media .social-media-icon {
        padding: 5px; }
    .footer-container .footer .footer-copyrights {
      text-align: center; }
      .footer-container .footer .footer-copyrights :first-child {
        font-weight: bold; }
      .footer-container .footer .footer-copyrights span {
        padding: 20px; }

@media (min-width: 1200px) {
  .footer-image {
    width: 100px; }
  .footer-aboutMe {
    font-size: 2rem;
    text-align: justify; }
  .footer-social-media {
    padding-top: 20px; }
    .footer-social-media .social-media-text {
      padding: 5px; }
      .footer-social-media .social-media-text span {
        font-size: 2rem; }
    .footer-social-media a {
      padding: 5px; } }

@media (max-width: 1199px) {
  .footer-image {
    width: 70px; }
  .footer-aboutMe {
    font-size: 1.2rem; }
  .social-media-text > span {
    font-size: 1rem; }
  a {
    padding: 5px; } }

@media (max-width: 991px) {
  .footer-copyrights > span {
    font-size: 1rem; } }
